@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: 'Passion', sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Verdana, Geneva, Tahoma, sans-serif';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: white;
    font-family: var(--font3);
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-size: 5vw;
    font-family: var(--font1);
    font-variant: small-caps;
    font-weight: bolder;
}

header > p{
    font-size: 2vw;
    padding-bottom: 50px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-left: 5vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 2.5vw;
    box-shadow: inset 3px 3px 12px 0px rgba(0, 0, 0, 0.404);
    background-size: cover;
    background-attachment: fixed;
}

section.comimagem{
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    
}

section#joaninha{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#versos{ 
    background-image: url('imagens/background002.jpg');
}

section.comimagem > p{ 
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.24);
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.555);
}

section.semimagem{
    background-color: white;
    color: black;
}

section > p{
    padding-bottom: 60px;
}

footer{
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.8vw;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}

